.dashboard_main_card {
  /* border: none !important; */
  margin-bottom: 10px;
  background-color: rgb(250, 250, 250) !important;
}

.title_card {
  font-size: 15px;

  background-color: rgba(254, 189, 200, 0.3) !important;
  border: none !important;
  border-radius: 0 !important;
  color: palevioletred;
}

.description_card {
  font-size: 15px;
  background-color: rgba(133, 179, 243, 0.3) !important;
  border: none !important;
  color: blue;
}

.timeline_card {
  font-size: 15px;

  background-color: rgba(21, 243, 165, 0.3) !important;
  border: none !important;
  color: green;
}

.status_card {
  font-size: 12px;

  background-color: rgba(255, 166, 0, 0.2) !important;
  color: rgb(151, 105, 18);
  border: none !important;
  border-radius: 0 !important;
  padding: 2px;
}

.button_card {
  background-color: rgba(255, 94, 0, 0.3) !important;
  border: none !important;
  color: rgb(128, 30, 0);
}

.abtn {
  background-color: red;
}

.task_data {
  font-weight: bold;
  color: grey;
}

.submit_button {
  display: inline-block;
  background-color: rgba(188, 188, 188, 0.5);
  color: rgb(128, 30, 0);
  padding: 4px 7px;
  border-radius: 5px;
  margin: 2px;
  border: 1px solid rgb(128, 30, 0);
}

.view_button {
  display: inline-block;
  background-color: rgb(188, 188, 188);
  color: rgb(255, 255, 255);
  padding: 2px 4px;
  border-radius: 0px;
  border: 0;
  font-size: 12px;
}

.create_task_card {
  /* border:  !important; */
}

.input_field {
  border-radius: 5px;
  padding: 8px;
  border: 1px solid rgb(222, 222, 222);
  background-color: rgb(250, 250, 250);
  width: 100%;
}

.input_field:focus {
  outline: none;
}
textarea {
  border-radius: 5px;
  height: 100px;
  border: 1px solid rgb(222, 222, 222);
  background-color: rgb(250, 250, 250);
  width: 100%;
}

.action_button {
  border: 1px solid rgb(35, 108, 80);
  color: rgb(35, 108, 80);
  padding: 5px 10px;
  border-radius: 5px;
  background-color: rgb(182, 242, 219);
  margin: 15px 0;
}
.sidebar_col {
  background-color: rgb(240, 240, 240);
}

.progress_card {
  /* font-size: 12px; */

  background-color: rgba(255, 255, 0, 0.2) !important;
  color: rgb(168, 114, 14);
  padding: 2px;
  border: none !important;
}

.done_card {
  /* font-size: 12px; */

  background-color: rgba(0, 128, 0, 0.2) !important;
  color: rgb(5, 93, 5);
  padding: 2px;

  border: none !important;
}

.users_card {
  font-size: 15px;
  background-color: rgba(59, 216, 255, 0.05) !important;
  color: rgb(5, 93, 58);
  border: none !important;
}
.login-div {
  margin-top: 100px;
}
.login-card {
  width: 100%;
}
.allusersbtn {
  /* border: 1px solid rgb(35, 108, 80); */
  border: none;
  color: rgb(5, 93, 5);
  padding: 2px 5px;
  border-radius: 5px;
  background-color: rgba(0, 204, 255, 0.5);
  /* margin: 15px 0; */
}
.pendingbtn {
  /* font-size: 15px; */
  border: none;
  color: rgb(151, 105, 18);
  padding: 2px 5px;
  border-radius: 5px;
  background-color: rgba(255, 166, 0, 0.5) !important;

}
.inprogressbtn {
  /* font-size: 15px; */
  padding: 2px 5px;
  border-radius: 5px;
  /* background-color: rgba(255, 166, 0, 0.5) !important; */
  color: rgb(151, 105, 18);
  /* border: 1px solid rgb(151, 105, 18); */
  border: none;

  /* font-size: 15px; */

  background-color: rgba(255, 255, 0, 0.5) !important;
  color: rgb(168, 114, 14);
  /* border: none !important; */
}
.donebtn {
  padding: 2px 5px;
  border-radius: 5px;
  /* background-color: rgba(255, 166, 0, 0.5) !important; */
  /* color: rgb(151, 105, 18); */
  /* border: 1px solid rgb(151, 105, 18); */

  font-size: 15px;

  background-color: rgba(2, 151, 2, 0.5) !important;
  color: rgb(5, 93, 5);
  /* border: 1px solid rgb(5, 93, 5); */
  border: none;

  /* border: none !important; */
}
.pending_card {
  /* font-size: 12px; */

  background-color: rgba(255, 166, 0, 0.2) !important;
  color: rgb(151, 105, 18);
  border: none !important;
}
.texttext:focus{
  outline: none;
}

.texttext{
  height: 125px;
}
.allusers_card{
  background-color: rgb(250, 250, 250) !important;
  border-radius:5px !important;

}
.usermail{
  /* color: rgb(81, 81, 81); */
  /* font-weight: bold; */
  padding: 3px 5px;
  border-radius: 10px;
  font-size: 13px;
  background-color: rgb(241, 241, 241);

}
.plus_div{
  background-color: rgba(59, 216, 255, 0.2) !important;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
}
.project_div{
  /* background-color: rgb(254, 254, 254); */
  background-color: rgba(59, 216, 255, 0.2) !important;

  margin: 10px 1px;
  padding: 10px;
  border-radius: 5px;
}

.pending_div{
  /* background-color: rgba(59, 216, 255, 0.2) !important; */
  background-color: rgba(255, 166, 0, 0.2) !important;

  margin: 10px 1px;
  padding: 10px;
  border-radius: 5px;
}
.inprogress_div{
  margin: 10px 1px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(255, 255, 0, 0.2) !important;

}
.done_div{
  margin: 10px 1px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(0, 128, 0, 0.2) !important;

}







.username {
  display: inline;
  margin-left: 10px;
  padding: 5px;
  font-size: 14px;
}
.userimage {
  /* display: block; */
  margin: auto;
  padding: auto;
  padding: 5px;
  width: 40px;
  border-radius: 50%;
}
.bell_user_icon_div {
  transition: 500ms;
  border-radius: 30px;
}
.bell_user_icon_div:hover {
  background-color: rgba(196, 196, 196, 0.5);
  cursor: pointer;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
  top: -10px;
  left: 15px;
  font-size: 10px;
  background-color: rgb(255, 46, 35);
  color: white;
  border-radius: 50%;
  padding: 2px;
  width: 20px;
  height: 20px;
  text-align: center;
  /* padding-top: 7.5px; */
  z-index: 1;
}
.profile-image{
  width: 150px;
  border-radius: 50%;
}

.profile-div{
  position: relative;
  z-index: 1;
  margin-left: 20px;
}
.profile-data-div{
  position: relative;
  background-color: rgb(250, 250, 250);
  border: 1px solid rgb(206, 206, 206);
  /* height: 20vh; */
  top:-70px;
  border-radius: 5px;
  /* z-index: -2; */
}