.side-col {
  background-color: rgb(250, 250, 250) !important;
  border-right: 1px solid rgb(206, 206, 206);
  height: 100vh;
 
}
.sidebar-i:hover {
  border-left: rgb(206, 206, 206) solid 5px;
}
.sidebar-i {
  padding: 10px;
  margin: 0;
  border-radius:0px;
}
.active_sidebar {
  border-left: rgb(162, 162, 162) solid 5px;
  padding: 10px;
  margin: 0;
  font-weight: bold;
  border-radius: 0px;
}
.sidebar-i{
  cursor: pointer;
}
.whole-side{
  position: fixed;
}